*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
  /* background-color: aquamarine; */
}

body{ /***** flexare il body****/
  font-family: 'Lato', sans-serif;
  background: linear-gradient(180deg, #009688 20%, #dbdbd3 0%);
  height: 100vh;
  overflow: hidden;
}

img{
  width: 100%;
}

.container{
  width: 80%;
  height: 95%;
  box-shadow: 0px 0px 5px 0px rgba(130,130,130,1);
}

.main-left{
  width: 380px;
  background-color: #fafafa;
  border-right: 1px solid #d8d8d8;
}

.main-right{
  flex-grow: 1;
}

.topbar{
  height: 70px;
  background-color: #eaeaea;
  padding: 10px 15px;
}

.topbar i{
  font-size: 1.5rem;
  padding: 0 10px;
  color: #b1b1b1;
}
.bottom-bar{
  height: 70px;
  background-color: #f3eeea;
}

.profile-pic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img{
  height: 100%;
  object-fit: cover;
}

/****************** UTILITIES *****************/
.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}

.justify-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}
/************** SECTIONS *********************/

/* LEFT */

.menu{
  padding: 15px 0;
}

/* notification */
.notifications{
  height: 80px;
  background-color: #8edafc;
}

.notifications .circle-left{
  background-color: #f2fbff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 15px;
  text-align: center;
}

.notifications .circle-left i{
  color: #8edafc;
  font-size: 1.3rem;
  line-height: 50px;
}

.notifications .notifications-text{
  padding: 20px 0;
  line-height: 1.3;
}

.notifications .notifications-text a{
  color: #557f91;
  font-size: 0.9rem;
}

/* search */

.chat-search{
  height: 50px;
  background-color: #fafafa;
  padding: 5px;
}

.chat-search .search-box{
  width: 100%;
  background-color: white;
  color: #b6b9bb;
  border: 1px solid #f5f5f5;
  padding: 10px 15px;
}

.chat-search .search-box input{
  color: #afafaf;
  border: none;
  width: 90%;
  padding-left: 15px;
}

/* CHAT LIST */

.chat-list{
  overflow: scroll;
  height: calc(100% - 200px);
}

.chat-list .chat{
  width: 97%;
  height: 80px;
  border: 1px solid #f5f5f5;
  background-color: white;
}

.chat-list .chat .profile-pic{
  margin: 17px;
}

.chat-list .chat .chat-message{
  padding: 20px 0;
}
.chat-list .chat .chat-message span:nth-child(3){
  color: #bec1c3;
}

/* RIGHT */

.chat .chat-name{
  padding: 5px 15px;
}

/* chat box */
.chat-box{
  background-image: url(../img/mine.jpg);
  height: calc(100% - 140px);
  padding: 50px;
  overflow: scroll;
  flex-direction: column;
}

.chat-box .message{
  width: 440px;
  border-radius: 10px;
  padding: 20px;
  margin: 5px 0;
}

.chat-box .message.sent{
  background-color: #d5f9ba;
  

}

.chat-box .message.received{
  background-color: white;

}

/* bottom bar */
.bottom-bar .icon{
  width: 10%;
  text-align: center;
  padding: 20px 0;
}

.bottom-bar .icon i{
  color: #6b7376;
  font-size: 1.7rem;
}

.bottom-bar .text-input{
  width: 80%;
}

.bottom-bar .text-input .new-message{
  width: 100%;
  background-color: white;
  color: #dadbdd;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 15px 0;
}

.bottom-bar .text-input .new-message input{
  border: 1px solid #f5f5f5;
  border: none;
  width: 100%;
  color: #a8a8a8;
}

.bottom-bar .audio-message{
  width: 10%;
}

/* MEDIA QUERY */

/* TABLET */
@media screen and (max-width: 991px){
  .container{
    width: 100%;
    height: 100%;
  }
  .main-left{
    width: 90px;
  }
  .hidden{
    display: none;
  }
}

/* MOBILE */
@media screen and (max-width: 542px){
  .main-left{
    display: none;
  }
  .main-right{
    width: 100%;
  }
}