*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.debug{
  border: 1px solid black;
  background-color: aquamarine;
}

body{
  font-family: 'Lato', sans-serif;
}

.container{
  width: 80vw;
  /* height: 80vh; */
  margin: 20px auto;
}

.main-left{
  width: 30%;
}

.main-right{ /**** poi forse la rimuovo ***/
  width: 70%;
}

.topbar{
  height: 70px;
}
.bottom-bar{
  height: 70px;
}
/****************** UTILITIES *****************/
.d-flex{
  display: flex;
}

.justify-between{
  justify-content: space-between;
}
/************** SECTIONS *********************/

/* LEFT */

.notifications{
  height: 80px;
}

.chat-search{
  height: 50px;
}

/* CHAT LIST */

.chat-list{
  overflow: scroll;
}


.chat{
  height: 80px;
}

.profile-pic{
  width: 20%;
}

/* RIGHT */

.chat-box{
  padding: 50px;
  overflow: auto;
}

.text-input{
  width: 80%;
}
.emoji{
  width: 10%;
}
.audio-message{
  width: 10%;
}

/* MEDIA QUERY */

/* TABLET */
@media screen and (max-width: 991px){
  .main-left{
    width: 10%;
  }
  .main-right{
    width: 90%;
  }
  
  .hidden{
    display: none;
  }
}

/* MOBILE */
@media screen and (max-width: 542px){

}